body {
    background-color: Black;
    color: lightyellow;
    font-size: x-large;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: black;
    color: lightyellow;
    font-size: medium;
}

h1 {
    margin-bottom: 40px;
}